.bla {
  --White: #F9FFFE;
  --Light-gray: #9D9D97;
  --Gray: #474F52;
  --Black: #1D1D21;
  --Brown: #835432;
  --Red: #B02E26;
  --Orange: #F9801D;
  --Yellow: #FED83D;
  --Lime: #80C71F;
  --Green: #5E7C16;
  --Cyan: #169C9C;
  --Light-blue: #3AB3DA;
  --Blue: #3C44AA;
  --Purple: #8932B8;
  --Magenta: #C74EBD;
  --Pink: #F38BAA;
}
