.dye-colors {
  --White: #f9fffe; /* milk 2 */
  --Light-gray: #9d9d97; /* cement */
  --Gray: #474f52; /* goop */
  --Black: #1d1d21; /* tar */
  --Brown: #835432; /* muddy water */
  --Red: #b02e26; /* blood */
  --Orange: #f9801d; /* sunny "c" */
  --Yellow: #fed83d; /* piss */
  --Lime: #80c71f; /* sludge */
  --Green: #5e7c16; /* motoroyle */
  --Cyan: #169c9c; /* slurpee */
  --Light-blue: #3ab3da; /* ababababababa */
  --Blue: #3c44aa; /* liquid ice */
  --Purple: #8932b8; /* lean */
  --Magenta: #c74ebd; /* printer ink */
  --Pink: #f38baa; /* antifreeze */
}
